@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-primary-color);
}

:root{
    --bg-primary-color: #131e29;
    --bg-secondary-color:#25282A;
    --text-primary-color: #f2efe6;
    --secondary-color: #ff6600;
    --tercary-color:#e65c00;

    --bg--test-color: #4B0082;
    --bg-sec-test-color: #E6E6FA;
    --bg-ter-test-color: #FFFFFF;
    --bg-cuart-test-color: #FFD700;
    --bg-quint-test-color: #9370DB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--bg-secondary-color);
    color: #fff;
    padding: 0 0;
    height: 4.5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}

.portfolio-text {
    color: var(--secondary-color);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5em;
    font-weight: bold;
}

.portfolio-text {
    color: var(--secondary-color);
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    height: 100%;
}

nav ul li {
    margin: 0 15px;
    height: 100%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
    color: #333;
}

.download-cv-button {
    background-color: var(--secondary-color);
    color: #333;
    padding: 0 15px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-cv-button:hover {
    background-color: var(--tercary-color);
    color: aliceblue;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* Seccion de HOME*/ 

section.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 90%;
    margin: 120px auto ;
}

.home-content {
    flex: 1;
    margin-right: 20px;
}

.home-content h1{
    font-size: 3em;
    color: var(--text-primary-color);
}
.home-content h3{
    font-size: 1.5em;
    color: var(--text-primary-color);

}
.home-content p {
    color: var(--text-primary-color);
    margin-top: 15px;
}

.home-content p span {
    font-weight: bold;
}

.home-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-img video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.technologies {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.technologies .divisor{
    border: none;
    height: 4px;
    background: var(--secondary-color);
    margin: 20px 0;
}

.technologies h1 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f2efe6;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(250px * 20); /* Ajusta según la cantidad de slides */
}

.slide {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide p{
    font-size: 1.5em;
    font-family: Roboto;
    color: #f2efe6;
}

/* ---------- ICONOS ------------ */
.icon {
    font-size: 90px; 
    color: var(--secondary-color);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 10));
    }
}


.presentation {
  background-color: var(--bg-secondary-color);
  width: 100%;
  height: 700px;
}


/*about me*/
.presentation {
  background-color: #131921;
  padding: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.about-me-section {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}
  
.about-me-content {
  display: flex;
  align-items: flex-start;
}
  
.profile-img {
  border-radius: 10px;
  max-width: 500;
  margin-right: 20px;
}
  
.text-content {
  text-align: left;
  max-width: 800px;
}
  
.about-me-section h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
  
.about-me-section h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
  
.about-me-text {
  font-size: 16px;
  line-height: 1.5;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  text-align: justify;
  }
  
.about-me-text .more-text {
  display: none;
}

.about-me-text.expanded {
  max-height: none;
}

.about-me-text.expanded .more-text {
  display: inline;
}

.read-more-btn, .show-pdf-btn, .show-experience-btn {
  background-color: #ff9900;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px 0 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
}

.read-more-btn:hover, .show-pdf-btn:hover, .show-experience-btn:hover {
  background-color: #e68a00;
}
  
.social-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.social-btn {
  background-color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center; /* Centra verticalmente los iconos */
  font-size: 18px;
  transition: background-color 0.3s;
}

.social-btn i {
  font-size: 24px;
  margin-right: 8px;
  display: flex;
  align-items: center; /* Centra verticalmente los iconos dentro del elemento <i> */
}

.social-btn:hover {
  background-color: #e6e6e6;
}

.social-btn.youtube {
  background-color: #ff0000;
  color: white;
}

.social-btn.linkedin {
  background-color: #0077b5;
  color: white;
}

.social-btn.github {
  background-color: #333;
  color: white;
}

.social-btn.instagram {
  background-color: #E1306C;
  color: white;
}

.social-btn.behance {
  background-color: #1769ff;
  color: white;
}

.social-btn.linkedin:hover, .social-btn.github:hover, .social-btn.instagram:hover, .social-btn.behance:hover {
  opacity: 0.8;
}

.divisor{
  border: none;
  height: 4px;
  background: var(--secondary-color);
  margin: 20px 0;
}

/* PORTFOLIO SECCION */
.portfolio {
  
  padding: 40px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.portfolio h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.project-card {
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  max-width: 30%;
  flex: 1 1 calc(33% - 40px);
  display: flex;
  flex-direction: column;
}

.project-card img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.project-card:hover img {
  transform: scale(1.1);
}

.project-details {
  padding: 20px;
  text-align: left;
}

.project-details h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-details p {
  margin: 5px 0;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.project-buttons .btn {
  background-color: #ff9900;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.project-buttons .btn i {
  margin-right: 8px;
}

.project-buttons .btn.github {
  background-color: #333;
}

.project-buttons .btn.pagina {
  background-color: #ff9900;
}

.project-buttons .btn:hover {
  opacity: 0.8;
}

/*    SECCION SERVICIOS */ 
.services-section {
  background-color: var(--bg-secondary-color);
  padding: 50px 20px;
  text-align: center;
  color: var(--text-primary-color);
}

.services-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.services-section p {
  font-size: 1.2em;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card i {
  font-size: 4.5em;
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 1em;
  margin-bottom: 20px;
}

.service-card .more-info-btn {
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.service-card .more-info-btn:hover {
  background-color: var(--tercary-color);
}

/* formulario de contacto  */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.contact-form {
  width: 50%;
}

.contact-form h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #333;
}

.inline-inputs {
  display: flex;
  justify-content: space-between;
}

.inline-inputs input {
  width: 48%;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #ff9900;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #e68a00;
}

.contact-image {
  width: 40%;
}

.contact-image img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}