.portfolio {
    background-color: #131921;
    padding: 40px;
    border-radius: 10px;
    color: white;
    text-align: center;
  }
  
  .portfolio h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .project-card {
    background-color: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    max-width: 30%;
    flex: 1 1 calc(33% - 40px);
    display: flex;
    flex-direction: column;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
  }
  
  .project-details {
    padding: 20px;
    text-align: left;
  }
  
  .project-details h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .project-details p {
    margin: 5px 0;
  }
  
  .project-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .project-buttons .btn {
    background-color: #ff9900;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .project-buttons .btn i {
    margin-right: 8px;
  }
  
  .project-buttons .btn.github {
    background-color: #333;
  }
  
  .project-buttons .btn.pagina {
    background-color: #ff9900;
  }
  
  .project-buttons .btn:hover {
    opacity: 0.8;
  }