.technologies {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.technologies .divisor{
    border: none;
    height: 4px;
    background: var(--secondary-color);
    margin: 20px 0;
}

.technologies h1 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f2efe6;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(250px * 20); /* Ajusta según la cantidad de slides */
}

.slide {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide p{
    font-size: 1.5em;
    color: #f2efe6;
}

/* ---------- ICONOS ------------ */
.icon {
    font-size: 90px; 
    color: var(--secondary-color);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 10));
    }
}
.icon-center{
    justify-content: center;
    align-items: center;
    text-align: center;
}