<nav class="navbar">
  <div class="navbar-left">
    <!-- Iniciales KP -->
    <span class="logo">
      K<span class="logo-gradient">P</span>
    </span>
  </div>

  <div class="navbar-right">
    <!-- Icono hamburguesa -->
    <button class="hamburger" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>

  <!-- Menú desplegable -->
  <div class="menu" [class.active]="menuOpen">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#habilities">Habilities</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
