<header>
    <div class="container">
        <div class="logo">
            <img src="icon/Metagross.png" alt="Logo">
            <span class="logo-text">KEVINP <span class="portfolio-text">Portafolio</span></span>
        </div>
        <i class='bx bx-menu' id="menu-icon" (click)="toggleMenu()"></i>
        <nav [class.active]="isMenuOpen">
            <ul>
                <li><a href="#home" (click)="closeMenu()">Home</a></li>
                <li><a href="#about-me" (click)="closeMenu()">Sobre Mi</a></li>
                <li><a href="#portafolio" (click)="closeMenu()">Portafolio</a></li>
                <li><a href="#servicios" (click)="closeMenu()">Servicios</a></li>
                <li><a href="#contacto" (click)="closeMenu()">Contacto</a></li>
            </ul>
            <a href="CVKevinPizarro2024.pdf" 
               class="download-cv-button" 
               download="CVKevinPizarro2024.pdf" 
               (click)="closeMenu()">Download CV</a>
        </nav>
    </div>
</header>