@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: system-ui, 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--bg-primary-color);
}

html{
    overflow-x: hidden;
  }  

:root{
    --bg-primary-color: #131e29;
    --bg-secondary-color:#25282A;
    --text-primary-color: #f2efe6;
    --secondary-color: #ff6600;
    --tercary-color:#e65c00;

    --bg--test-color: #4B0082;
    --bg-sec-test-color: #E6E6FA;
    --bg-ter-test-color: #FFFFFF;
    --bg-cuart-test-color: #FFD700;
    --bg-quint-test-color: #9370DB;


    /*Definicion de colores */
    --dark-bg-primary-color: #131e29;
    --dark-bg-secondary-color:#25282A;
    --dark-text-primary-color: #f2efe6;
    --dark-text-secondary-color: #333;
    --dark-primary-color: #ff6600;
    --dark-secondary-color:#e65c00;

    
}