/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-primary-color);
}

:root{
    --bg-primary-color: #131e29;
    --bg-secondary-color:#25282A;
    --text-primary-color: #f2efe6;
    --secondary-color: #ff6600;
    --tercary-color:#e65c00;

    --bg--test-color: #4B0082;
    --bg-sec-test-color: #E6E6FA;
    --bg-ter-test-color: #FFFFFF;
    --bg-cuart-test-color: #FFD700;
    --bg-quint-test-color: #9370DB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}