<section class="home" id="home">
    <div class="home-content">
        <h3>Hola!, yo soy</h3>
        <h1>Kevin Pizarro</h1>
        <h3>Desarrollador FullStack <span class="texto-multiple portfolio-text"> / </span>Desarrollador Software</h3>
        <h3>Desarrollador de Unreal Engine</h3>
        <p>
            Especialista en desarrollo Web, desarrollo de software con soluciones creativas y atractivas, con metodologias de experiencia de usuario.
            <span class="portfolio-text">
                "creo que hoy en dia la tecnologia y el arte pueden coexistir de una manera brillante y hermosa, entregando nuevas
                experiencias tanto para desarrolladores como para usuarios."
            </span>
        </p>
    </div>

    <div class="home-video-container">
        <video id="home-video" src="video/TestUnreal.mp4" autoplay loop muted></video>
        <button class="mute-button" (click)="toggleMute()">
            <i *ngIf="isMuted" class="fas fa-volume-mute"></i>
            <i *ngIf="!isMuted" class="fas fa-volume-up"></i>
        </button>
    </div>
</section>