<section class="presentation" id="about-me">
  <div class="about-me-section">
    <div class="about-me-content">
      <img src="img/foto.jpg" alt="Kevin Pizarro" class="profile-img">
      <div class="text-content">
        <h2>Sobre mi</h2>
        <h3>Kevin Pizarro</h3>
        <p class="about-me-text">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          <span class="more-text">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </span>
        </p>
        <button class="read-more-btn">Saber Mas</button>
        <button class="show-pdf-btn">Formacion</button>
        <button class="show-experience-btn">Experiencia Laboral</button>
        <h4>Mis Redes Sociales</h4>
        <div class="social-buttons">
          <a href="https://www.linkedin.com/in/kevin-pizarro" target="_blank" class="social-btn linkedin"><i class='bx bxl-linkedin-square'></i> LinkedIn</a>
          <a href="https://github.com/KPBaldur" target="_blank" class="social-btn github"><i class='bx bxl-github'></i> GitHub</a>
          <a href="https://www.youtube.com/@Baldur-Dev-Arts/" target="_blank" class="social-btn youtube"><i class='bx bxl-youtube'></i>Youtube</a>
          <a href="https://www.instagram.com/kevinp_ux_ui/" target="_blank" class="social-btn instagram"><i class='bx bxl-instagram'></i> Instagram</a>
          <a href="https://www.behance.net/kevinpizarro1" target="_blank" class="social-btn behance"><i class='bx bxl-behance'></i> Behance</a>
        </div>
      </div>
    </div>
  </div>
</section>
