.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 80px; /* Aumentado de 80px a 100px */
    border-radius: 8px;
    color: #fff;
}

.contact-form {
    width: 55%;
    margin-right: 20px;
}

.contact-form h1 {
    font-size: 2.5em;
    margin-bottom: 25px; /* Aumentado de 20px a 25px */
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 18px; /* Aumentado de 15px a 18px */
    margin-bottom: 18px; /* Aumentado de 15px a 18px */
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
}

.contact-form textarea {
    width: 100%;
    resize: none;
    min-height: 150px; /* Aumentar la altura mínima del textarea */
}

.inline-inputs {
    display: flex;
    justify-content: space-between;
}

.inline-inputs input {
    width: 48%;
}

.contact-form button {
    width: 100%;
    padding: 18px; /* Aumentado de 15px a 18px */
    background-color: #ff9900;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #e68a00;
}

.contact-info {
    width: 40%;
    margin-left: 20px;
    color: #fff;
}

.contact-info h2 {
    font-size: 1.8em;
    margin-bottom: 25px; /* Aumentado de 20px a 25px */
    font-weight: bold;
}

.contact-info p {
    margin-bottom: 25px; /* Aumentado de 20px a 25px */
    font-size: 1.1em;
}

.social-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; /* Aumentado de 10px a 15px */
}

.social-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 25px; /* Aumentado de 10px 20px a 12px 25px */
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1em;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s ease;
}

.social-buttons i {
    font-size: 30px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.social-buttons a.linkedin {
    background-color: #0077b5;
}

.social-buttons a.linkedin:hover {
    background-color: #005582;
}

.social-buttons a.github {
    background-color: #333;
}

.social-buttons a.github:hover {
    background-color: #1b1b1b;
}

.social-buttons a.instagram {
    background-color: #E1306C;
}

.social-buttons a.instagram:hover {
    background-color: #B02858;
}

.social-buttons a.behance {
    background-color: #1769ff;
}

.social-buttons a.behance:hover {
    background-color: #0e50cc;
}
